<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %} Ma platform {% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {% block stylesheet %} 
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('ma_platform_home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ma_platform_add') }}">Ajouter une annonce <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Supprimer une annonce <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Modifier une annonce <span class="sr-only">(current)</span></a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>

        <h4 class="text-center my-5">Les mise a jour</h4>
        <div id="menu">
            {{ render(controller("MAPlatformBundle:Advert:menu", { 'limit': 3 })) }}
        </div>
        
        <div class="container my-5">
            {% block body %} {% endblock %}
        </div>
        
        

        {% block javascripts %} 
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
    <footer>
        
        <p class="text-center fixed-bottom bg-dark py-2 m-0 text-warning">Cette application a ete developer par <span class="text-danger font-weight-bold">Mohamed AAROUS</span> {{'now' | date('Y')}}</p>
    
    </footer>
</html>