
 @media screen and (max-width: 490px){
    div{
        background-color: orange;
        height: 100px;
        
    }
}


@media screen and (min-width: 491px) and (max-width: 1279px){ 
    div{
        background-color: blue;
        display: none;
    }
        
    
}


@media screen and (min-width: 1280px){
    div{
        background-color: green;
        display: none;
        
    }
}
