{% extends "MAPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{parent()}}
{% endblock %}

{% block maplatform_body %}
    <h2>Modifier une annonce</h2>
    {{ include("MAPlatformBundle:Advert:form.html.twig" )}}
    <p>
        Ici a lieu la modification d'une annonce existante
    </p>
    <p>
        <a class="btn btn-danger" href="{{ path('ma_platform_view', {'id': advert.id})}}" ><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste des annonces </a>
    <p>
{% endblock %}