*{
    box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
   font-size: 70px;
   color: rgb(230, 143, 4);
   margin-top: 50px;
   text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    float: left;

  
    
}
h2{
   font-size: 50px;
   color: CRIMSON;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;

}
h3{
   font-size: 22px;
   color: #2c3e50;
   padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}
h5{
   font-size: 85px;
   color: /*CRIMSON*/purple;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
blockquote{
   font-style: italic;
   font-size: 120%;
}
strong{
   font-weight: bold;
}
main{
 background:rgba(221, 134, 52, 0.63);
    margin: 0 auto;
    width: 1000px;
}
aside{
   /*height: 250px;*/
   height: 300px;

}
section{
   margin-top: 50px;
   /*background: THISTLE;*/
   
}
footer{
   background:MISTYROSE;
   height: 30px;
}
/*********************************  DEBUT HEADER  ***********************************/
header{
   background-color:SLATEGRAY;
   height: 200px;
}
#logo{
 width: 25%;
 text-align: center;
 padding: 15px;
 float: left;
}
#rs{
 width: 5%;
 float: left;
 float: right;

}
#rs a{
font-size: 30px;
color: white;
display: block;/*change leur type inline en block pour les mettre les uns en dessous des autres*/
text-align: center;
padding: 15px 40px 0 0;
text-decoration: none;
}
#rs a:hover{
 font-size: 40px;
 transition: 1s;
 color: orange;

}
/**********************FIN DE HEADER*******************/
/*********************DEBUT DE NAV*********************/
nav{
 background-color: rgb(231, 183, 121);
 border-bottom: 4px solid slategray;
 text-align: center;
 padding: 17px;
}
nav a{
 font-family: 'Amatic SC' cursive;
 font-size: 25px;
 text-decoration: none;
 color: black;
 font-weight: 500;
 padding: 6px 9px;
 margin: 0px 8px;
}
nav a:hover{
 background: orangered;
 transition: 0.3s;
 color: white;
}
.activ{
 background:orangered;
}
/********************FIN DE NAV**********************/
/********************DEBUT DE TEXTE*****************/

.roboto p{
   font-family: 'Roboto Condensed', sans-serif;
 }
​
 ,.select p{
   color:red;
 }
​
 ,.select p:first-of-type{
   color: green;
 }
​
 ,.select p:last-of-type{
  color: purple;
}
​,.select p:nth-of-type(6){
    color: orange;
}
/* ***********page image******************************************* */
.imagefond{
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
}
.imagefond p{
    width: 75%;
    margin: 100px auto 200px auto;
    background: rgba(202, 195, 195, 0.8);
    border-radius: 10px;
    padding: 15px 15px;
}
.tour{
    border: 2px solid rgb(44, 2, 2);
    margin: auto;
    display: block;
    box-shadow: 5px 5px 3px black,-3px -3px 3px black;
}

.pont1:hover{
    transform: rotate(45deg);
    transition: 1s;
    padding: 5px;
}
.pont2:hover{
    transform: rotate(-45deg);
    transition: 1s;
    padding: 5px;
}
.pont3:hover{

    transform: rotate(-360deg);
    transition: 2.5s;
    padding: 10px;
    
}
.pont1,.pont2,.pont3{
 border: 4px solid gainsboro;
 box-shadow: 5px 5px 3px black,-1px -1px 2px black;
 margin: auto;
 margin-top: 20px;
 
 

}
.pont3{
    display: block;
}
.pont1,.pont2{
    margin-left: 100px;
}
.centre{
    margin: 0 auto;
    width: 500px;
    background: orange;
    color: white;
    text-align: center;
    line-height: 180px;
    font-size: 50px;
    font-style: italic;
}
.relative{
    background: blueviolet;
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}
.relative div{
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: blue;
}
button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom:40px;
}
button:hover{
    color: orange;
    transition: 0.3s;
}
.carre{
    width: 170px;
    height: 170px;
    background: rosybrown;
    border: 3px solid #3cc;
    margin: 10px;
    float: left;
     text-align: center;
     font-size: 25px;
     color: wheat;
     line-height: 150px;
     box-shadow: 4px 4px 4px rgba(0,0,0,0.5)
}

/********************DEBUT DE PAGE TEXTE*****************/
.roboto p{
    font-family: 'Roboto', sans-serif;
}
/********************FIN DE PAGE TEXTE*****************/

/********************DEBUT DE PAGE SELECTEUR *****************/
.select p {
    color: red;
}

.select p:first-of-type{
    color:purple;
}

.select p:last-of-type{
    color:purple;
}

.select p:nth-of-type(5), .select p:nth-of-type(6){
    color:black;
} 

.select .zoneB .couleurBleu {
    color: blue;
}

.select #zoneD span {/*le span prendra en compte aussi. couleurBleu sauf pour la couleur car on l'aura déjà définie*/
    color : #32ff32;
}

.select .zoneA {
    color : #f56;
}

.select .zoneB {
    color:#963;
}

.select #zoneC {
    color:#98f32f;
}

/********************FIN DE PAGE SELECTEUR *****************/



/********************FIN DE PAGE IMAGES *****************/

.imageFond {
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.imageFond p{
    width : 75%;
    margin: 100px auto 200px auto; /*auto permet de centrer*/
    background: rgba(255, 255, 255, 0.6);
    padding : 20px;
    font-size : 120%;
    border-radius: 10px;
}

/**image centrée**/

img[src="img/survol_img2.jpg"] {
    border : 5px solid black;
    margin: auto;
    display : block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    width:300px;
}

/**Rotation**/

.rotation {
    /*image de type inline-block, elle comporte des marges par défaut.*/
    text-align: center;
}

.image {

margin: 20px;
border: 5px solid #eee;
box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
transition: 1s;

}

.image:hover{
    transform: rotate(7deg);
}

.rotation360:hover {
    transform: rotate(360deg);
}


/********************FIN DE PAGE IMAGES *****************/


/********************DEBUT DE PAGE POSITIONS *****************/

.centre{
    margin : 0 auto;
    width : 500px;
    background-color: #3cc;
    color:white;
    line-height: 180px;
    font-size:50px;
    font-style:italic;
    text-align: center;
}

.relative {
    background-color: red;
    width:500px;
    height: 500px;
    position: relative;
    bottom:50px;
    margin : 0 auto;
}

.relative div{
    position :absolute;
    bottom:10px;
    width: 50px;
    height: 50px;
    background-color: blue;
}

button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom: 40px;
 }
 button:hover{
    color:pink;
    transition: 1s;
 }

.trente {
    width:30%;
    padding:20px;
    font-size: 22px;
    background: #f1684e;
    color:#efe94b;
    font-weight: bold;
}

.cinquante {
    width:50%;
    padding:20px;
    font-size: 22px;
    background:orangered;
    color:yellow;
    font-weight: bold;
    margin-top:10px;
}

.cent {
    width:100%;
    padding:20px;
    font-size: 22px;
    background: red;
    color:yellow;
    font-weight: bold;
    margin-top:10px;
}

.carre{
    width:170px;
    height:170px;
    background-color: rosybrown;
    border: 3px solid #3cc;
    margin:10px;
    float:left;
    text-align: center;
    font-size:25px;
    color:white;
    line-height: 150px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.carre:hover{
    background-color: #dc143c;
    border : 15px solid lightseagreen;
    transition: 1s;
    transform:rotate(45deg);
    border-radius:85px;
}

.float2{
    margin: 0 auto;
    width:100%;
}

.rect {
    height:40px;
    background-color: darkseagreen;
}

.c1, .c2, .c3, .c4{
    width:25%;
    height:250px;
    float:left;
}

.c1{
    background-color: lightpink;
}

.c2{
    background-color: lightsalmon;
}

.c3{
    background-color: turquoise;
}

.c4{
    background-color: rosybrown;
}

.clear{
    clear: both;
}

/*Le flex : methode et techniques qui permettent de placer des éléments.
Les parents on leur met un display : flex et place les enfants.*/

.flex {
    display:flex;
    /*justify-content : space - around; les éléments s'affichent avec un espace egal autour d'eux même*/
    justify-content: space-around;
    flex-direction: row; /*les elements s'inversent sur la rangée*/
}

.flex div {
    width : 150px;
    height: 150px;
    background-color: indianred;
    border: 3px solid;
    text-align:center;
    font-size: 50px;
    color:#fff;
}


/********************FIN DE PAGE POSITIONS *****************/

/********************FIN DE PAGE POSITIONS *****************/

 .wrapper{
    border : 1px solid #000;
}

.haut {
    background-color: olivedrab;
    height:75px;
}

.gauche{
    background-color: #f1684e;
    width:40%;
    float:left;
    height:600px;
}

.droite {
    background-color: #2c3e50;
    width: 60%;
    float:left;
    height:600px;
}

.gauche2 {
    background-color: #f1684e;
    width:20%;
    float:left;
    height:600px
}

.milieu2 {
    background-color: #2c3e50;
    width: 60%;
    float:left;
    height:600px;
}

.droite2 {
    background-color: #f1684e;
    width:20%;
    float:left;
    height:600px
}

.bas3 {
    background-color: olivedrab;
    height:75px;
}

.gauche3{
    background-color: #f1684e;
    width:50%;
    float:left;
    height:600px;
}

.droite3 {
    background-color: #2c3e50;
    width: 50%;
    float:left;
    height:600px;
}

.haut4 {
    background-color: green;
    height:75px;
    text-align: center;
    color:#fff;
}

.menu4 {
    background-color: rgb(0, 204, 0);
    height:50px;
    text-align: center;
    color:#fff;
    border-bottom: 2px solid #f1684e;
}

.contenu4 {
    height: 600px;
    margin:20px;
    background-color: salmon;
    text-align: center;
    color:#fff;
}

.footer4 {
    background-color: brown;
    height:75px;
    text-align: center;
    color:#fff;
}

.haut5 {
    background-color:rgb(16, 122, 112);
    height:75px;
    text-align: center;
    color:#fff;
}

.menu5 {
    background-color: rgb(64, 128, 64);
    height:50px;
    text-align: center;
    color:#fff;
    
}

.contenu5 {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
    height:600px;
    margin:20px;
}

.contenu5 div{
    height:50%;
    width:50%;
    float: left;
}

.footer5 {
    background-color: salmon;
    height:75px;
    text-align: center;
    color:#fff;
}
/* hover pour la zonne 5 avect effet rotation et transparence */
.b{
    background-color: orange;
    
}
.b:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: orangered;
    border-radius: 50%;
    opacity: 0;

}
.c{
    background-color: blue;
}
.c:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: rgb(0, 255, 255);
    border-radius: 50%;
    opacity: 0;

}
.d{
    background-color: green;
}
.d:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: rgb(9, 255, 0);
    border-radius: 50%;
    opacity: 0;

}
.pink6 {
    background-color: lightpink;
    width:25%;
    height:200px;
    float:left;
}

.salmon6 {
    background: salmon;
    width:50%;
    height:200px;
    float:left;
}

.olive6 {
    height:50px;
    background-color: #963;
}

.droite6 {
    height:800px;
    background-color: brown;
    width:20%;
    float: left;
}

.gauche6{
    float: left;
    width:80%;
}

.vert6 {
    width:50%;
    float:left;
    height:300px;
    background-color: #98f32f;
}

.violet6 {
    width:50%;
    float:left;
    height:300px;
    background-color: purple;
}

.blue6 {
    height:300px;
    background-color: #3cc;
}

.rose6 {
    width:25%;
    height:200px;
    float:left;
    background-color: lightpink;
}

.marron6 {
    width:25%;
    height:200px;
    float:left;
    background-color: rgb(77, 46, 0);
}

.footer6 {
    background-color: mediumslateblue;
    height:75px;
    }



.puce ,.puce ul li{
    /* list-style: none; */
    color: rgb(11, 103, 207);
    font-size: 22px;
}
.display li{
    display: inline;
}
.none{
    list-style: none;
    margin-left:30px;
   
}


.infoBulle{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background: slategray;
    box-shadow: 0 0 50px #222 inset /*effet à l'intérieur de l'élément*/
}
.infoBulle p{
    text-align: center;
    padding-top: 30px;
}
.infoBulle a{
    color: white;
    text-shadow: 0 -2px 0 black;
    text-decoration: none;
    border-radius: 3px;
    padding:5px 15px;
}
.infoBulle a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: white;
}
.infoBulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    color: pink;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
.infoBulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
.infoBulle a span:before{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.imgEffets{
  width: 320px;
  height: 320px;
  margin: 70px auto;
}

.imgEffets li{
  list-style: none;
  float: left;
  width: 141px;
  height: 150px;
  margin: 5px;
}

.imgEffets li:nth-child(3){
  clear: both;
}

.imgEffets img{
  position: absolute;
  z-index: 1;
  height: 150px;
  box-shadow: 0 0 3px black;
  transition: .5s cubic-bezier(0,3,.4,1);
}

.imgEffets li:hover img{
  z-index: 2;
  transform: scale(1.5);
  box-shadow: 0 0 10px black;
}

.imgEffets:hover li:not(:hover) img{
  filter: grayscale(1) blur(8px);
}
/*------------------Menu rotation------------------*/

/*------- Menu rotation ---------*/
#menuRotate{
	height: 360px;
	width: 576px;
	margin: 100px auto;
	background: mistyrose;
	position: relative; /*absolute en foncction du body sauf si son parent est en relative*/
	overflow: hidden;
	border: 2px solid pink;
}
#menuRotate .masque{
	position: absolute;
	z-index: 50;
	width: 585px;
	height: 135px;
	top: 0;
	left: 0;
	background: linear-gradient(pink, mistyrose);
}
#menuRotate .ombre{
	position: absolute;
	z-index: 40;
	width: 300px;
	height: 6px;
	box-shadow: 0px 100px 3px black;
	border-radius: 75px / 3px; /*rayon horizontaux / rayon verticaux*/
	top: 32px;
	left: 142px;
}
#menuRotate dl{
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 155px;
	color: white;
	text-align: center;
	background: CRIMSON;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0,0,0,0.7);
	transform-origin: 50% 120px;
	animation: bounceOut 0.7s ease-in-out;
}
#menuRotate dt{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding-top: 5px;
}
#menuRotate dd{
	transform: rotate(180deg);
}
#menuRotate dd a{
	display: block;
	height: 24px;
	padding: 3px 0;
	color: white;
	text-decoration: none;
}
#menuRotate dd a:hover{
	background: rgba(255,255,255,0.1);
}
#menuRotate dl:hover{
	transform: rotate(-180deg);
	animation: bounceIn 0.7s ease-in-out;
}
@keyframes bounceIn{
	from{transform: rotate(0deg);}
	75%{transform: rotate(-200deg);}
	90%{transform: rotate(-175deg);}
	to{transform: rotate(-180deg);}
}
@keyframes bounceOut{
	from{transform: rotate(0deg);}
	0%{transform: rotate(-180deg);}
	10%{transform: rotate(-165deg);}
	to{transform: rotate(-360deg);}
}
figure{
    width: 95%;
    margin:auto;
}
.video:hover{
    box-shadow: 10px 10px 20px black,-10px -10px 20px black; 
    border: 10px white;

}
/***************** Multimedia *********************/
.videoFond {
  padding-left:0;
  padding-right:0;
}
.videoFond video {
  position:absolute;
  z-index: 1;
  width: 100%;
}
.videoTexte {
  position: relative;
  width: 100%;
  height: 500px;
}
.videoFond p {
  position: absolute;
  transform: translate(-50%, -25%);
  z-index:2;
  width: 500px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  border-radius: 10px;
}
iframe[allowfullscreen]{
    width: 100%;
}
section{
    padding-bottom: 30px;
}
.audio{
   
   text-align: center;
}
audio{
    width: 450px;
}
form{
    width: 60%;
    background: lightcoral;
    margin: 0 auto;
    padding: 20px;
    color: white;
    border-radius: 15px;
}
label{
    margin: 10px 0;
    width: 50%;
    display: inline-block;
}
textarea{
    resize: none;
}
label[for="orange"], label[for="fraise"], label[for="mangue"]{
    width: 10%;
}


.ancre{
	text-align: center;
	margin: 15px;
}
.ancre a{
	color: white;
	background: tomato;
	padding: 7px;
	text-decoration: none;
	border-radius: 7px;
	margin: 5px;
	box-shadow: 0px 1px 24px 0px rgba(46, 50, 50, 0.73);
}
.ancre a:hover{
	font-size: 150%;
	transition: 2s;
}
.contAncre{
	border-top: 2px solid #2c3e50;
	border-bottom: 2px solid #2c3e50;
}
#lien a{
	text-decoration: none;
	color: #2980b9;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 120%;
}
#lien a:hover{
	color: tomato;
}
/**** MENU ****/
#menu nav{
	background: transparent;
	border: none;
}
#menu ul{
	list-style: none;
	text-align: center;
}
#menu ul li{
	display: inline-block;
}
#menu nav a{
	padding: 10px;
	color: CRIMSON;
	text-decoration: none;
	background: white;
}
#menu nav a:hover{
	background: khaki;
	transition: 1s ease-in-out;
}

/*** MENU DEROULANT ***/
#menuDeroulant{
	height: 650px;
}
#menuDeroulant nav{
	background: transparent;
	border: none;
	width: 90%;
	margin: 0 auto;
}
#menuDeroulant nav ul li{
	float: left;
	list-style: none;
	width: 20%;
}
#menuDeroulant ul ul{ /*Les listes qui sont dans les listes*/
	display: none;
}
#menuDeroulant nav ul li ul li{
	border-top: 1px solid pink;
	width: 100%;
}
#menuDeroulant nav li{
	background: GAINSBORO;
}
#menuDeroulant nav li a{
	text-decoration: none;
	color: #000;
	padding: 4px 0 4px;
	display: block; /*pour qu'il s'étende sur toute la laugeur de son conteneur*/
	background: mistyrose;
}
#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2{
	display: block;
}
