*{
    box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
   font-size: 70px;
   color: rgb(230, 143, 4);
   margin-top: 50px;
   text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    float: left;

  
    
}
h2{
   font-size: 50px;
   color: CRIMSON;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;

}
h3{
   font-size: 22px;
   color: #2c3e50;
   padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}
h5{
   font-size: 85px;
   color: /*CRIMSON*/purple;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
blockquote{
   font-style: italic;
   font-size: 120%;
}
strong{
   font-weight: bold;
}
main{
 background:rgba(221, 134, 52, 0.63);
    margin: 0 auto;
    width: 1000px;
}
aside{
   /*height: 250px;*/
   height: 300px;

}
section{
   margin-top: 50px;
   /*background: THISTLE;*/
   
}
footer{
   background:MISTYROSE;
   height: 30px;
}
/*********************************  DEBUT HEADER  ***********************************/
header{
   background-color:SLATEGRAY;
   height: 200px;
}
#logo{
 width: 25%;
 text-align: center;
 padding: 15px;
 float: left;
}
#rs{
 width: 5%;
 float: left;
 float: right;

}
#rs a{
font-size: 30px;
color: white;
display: block;/*change leur type inline en block pour les mettre les uns en dessous des autres*/
text-align: center;
padding: 15px 40px 0 0;
text-decoration: none;
}
#rs a:hover{
 font-size: 40px;
 transition: 1s;
 color: orange;

}
/**********************FIN DE HEADER*******************/
/*********************DEBUT DE NAV*********************/
nav{
 background-color: rgb(231, 183, 121);
 border-bottom: 4px solid slategray;
 text-align: center;
 padding: 17px;
}
nav a{
 font-family: 'Amatic SC' cursive;
 font-size: 25px;
 text-decoration: none;
 color: black;
 font-weight: 500;
 padding: 6px 9px;
 margin: 0px 8px;
}
nav a:hover{
 background: orangered;
 transition: 0.3s;
 color: white;
}
.activ{
 background:orangered;
}
/********************FIN DE NAV**********************/
/********************DEBUT DE TEXTE*****************/

.roboto p{
   font-family: 'Roboto Condensed', sans-serif;
 }
​
 ,.select p{
   color:red;
 }
​
 ,.select p:first-of-type{
   color: green;
 }
​
 ,.select p:last-of-type{
  color: purple;
}
​,.select p:nth-of-type(6){
    color: orange;
}
/* ***********page image******************************************* */
.imagefond{
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
}
.imagefond p{
    width: 75%;
    margin: 100px auto 200px auto;
    background: rgba(202, 195, 195, 0.8);
    border-radius: 10px;
    padding: 15px 15px;
}
.tour{
    border: 2px solid rgb(44, 2, 2);
    margin: auto;
    display: block;
    box-shadow: 5px 5px 3px black,-3px -3px 3px black;
}

.pont1:hover{
    transform: rotate(45deg);
    transition: 1s;
    padding: 5px;
}
.pont2:hover{
    transform: rotate(-45deg);
    transition: 1s;
    padding: 5px;
}
.pont3:hover{

    transform: rotate(-360deg);
    transition: 2.5s;
    padding: 10px;
    
}
.pont1,.pont2,.pont3{
 border: 4px solid gainsboro;
 box-shadow: 5px 5px 3px black,-1px -1px 2px black;
 margin: auto;
 margin-top: 20px;
 
 

}
.pont3{
    display: block;
}
.pont1,.pont2{
    margin-left: 100px;
}
.centre{
    margin: 0 auto;
    width: 500px;
    background: orange;
    color: white;
    text-align: center;
    line-height: 180px;
    font-size: 50px;
    font-style: italic;
}
.relative{
    background: blueviolet;
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}
.relative div{
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: blue;
}
button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom:40px;
}
button:hover{
    color: orange;
    transition: 0.3s;
}
.carre{
    width: 170px;
    height: 170px;
    background: rosybrown;
    border: 3px solid #3cc;
    margin: 10px;
    float: left;
     text-align: center;
     font-size: 25px;
     color: wheat;
     line-height: 150px;
     box-shadow: 4px 4px 4px rgba(0,0,0,0.5)
}

/********************DEBUT DE PAGE TEXTE*****************/
.roboto p{
    font-family: 'Roboto', sans-serif;
}
/********************FIN DE PAGE TEXTE*****************/

/********************DEBUT DE PAGE SELECTEUR *****************/
.select p {
    color: red;
}

.select p:first-of-type{
    color:purple;
}

.select p:last-of-type{
    color:purple;
}

.select p:nth-of-type(5), .select p:nth-of-type(6){
    color:black;
} 

.select .zoneB .couleurBleu {
    color: blue;
}

.select #zoneD span {/*le span prendra en compte aussi. couleurBleu sauf pour la couleur car on l'aura déjà définie*/
    color : #32ff32;
}

.select .zoneA {
    color : #f56;
}

.select .zoneB {
    color:#963;
}

.select #zoneC {
    color:#98f32f;
}

/********************FIN DE PAGE SELECTEUR *****************/



/********************FIN DE PAGE IMAGES *****************/

.imageFond {
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.imageFond p{
    width : 75%;
    margin: 100px auto 200px auto; /*auto permet de centrer*/
    background: rgba(255, 255, 255, 0.6);
    padding : 20px;
    font-size : 120%;
    border-radius: 10px;
}

/**image centrée**/

img[src="img/survol_img2.jpg"] {
    border : 5px solid black;
    margin: auto;
    display : block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    width:300px;
}

/**Rotation**/

.rotation {
    /*image de type inline-block, elle comporte des marges par défaut.*/
    text-align: center;
}

.image {

margin: 20px;
border: 5px solid #eee;
box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
transition: 1s;

}

.image:hover{
    transform: rotate(7deg);
}

.rotation360:hover {
    transform: rotate(360deg);
}


/********************FIN DE PAGE IMAGES *****************/


/********************DEBUT DE PAGE POSITIONS *****************/

.centre{
    margin : 0 auto;
    width : 500px;
    background-color: #3cc;
    color:white;
    line-height: 180px;
    font-size:50px;
    font-style:italic;
    text-align: center;
}

.relative {
    background-color: red;
    width:500px;
    height: 500px;
    position: relative;
    bottom:50px;
    margin : 0 auto;
}

.relative div{
    position :absolute;
    bottom:10px;
    width: 50px;
    height: 50px;
    background-color: blue;
}

button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom: 40px;
 }
 button:hover{
    color:pink;
    transition: 1s;
 }

.trente {
    width:30%;
    padding:20px;
    font-size: 22px;
    background: #f1684e;
    color:#efe94b;
    font-weight: bold;
}

.cinquante {
    width:50%;
    padding:20px;
    font-size: 22px;
    background:orangered;
    color:yellow;
    font-weight: bold;
    margin-top:10px;
}

.cent {
    width:100%;
    padding:20px;
    font-size: 22px;
    background: red;
    color:yellow;
    font-weight: bold;
    margin-top:10px;
}

.carre{
    width:170px;
    height:170px;
    background-color: rosybrown;
    border: 3px solid #3cc;
    margin:10px;
    float:left;
    text-align: center;
    font-size:25px;
    color:white;
    line-height: 150px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.carre:hover{
    background-color: #dc143c;
    border : 15px solid lightseagreen;
    transition: 1s;
    transform:rotate(45deg);
    border-radius:85px;
}

.float2{
    margin: 0 auto;
    width:100%;
}

.rect {
    height:40px;
    background-color: darkseagreen;
}

.c1, .c2, .c3, .c4{
    width:25%;
    height:250px;
    float:left;
}

.c1{
    background-color: lightpink;
}

.c2{
    background-color: lightsalmon;
}

.c3{
    background-color: turquoise;
}

.c4{
    background-color: rosybrown;
}

.clear{
    clear: both;
}

/*Le flex : methode et techniques qui permettent de placer des éléments.
Les parents on leur met un display : flex et place les enfants.*/

.flex {
    display:flex;
    /*justify-content : space - around; les éléments s'affichent avec un espace egal autour d'eux même*/
    justify-content: space-around;
    flex-direction: row; /*les elements s'inversent sur la rangée*/
}

.flex div {
    width : 150px;
    height: 150px;
    background-color: indianred;
    border: 3px solid;
    text-align:center;
    font-size: 50px;
    color:#fff;
}


/********************FIN DE PAGE POSITIONS *****************/

/********************FIN DE PAGE POSITIONS *****************/

 .wrapper{
    border : 1px solid #000;
}

.haut {
    background-color: olivedrab;
    height:75px;
}

.gauche{
    background-color: #f1684e;
    width:40%;
    float:left;
    height:600px;
}

.droite {
    background-color: #2c3e50;
    width: 60%;
    float:left;
    height:600px;
}

.gauche2 {
    background-color: #f1684e;
    width:20%;
    float:left;
    height:600px
}

.milieu2 {
    background-color: #2c3e50;
    width: 60%;
    float:left;
    height:600px;
}

.droite2 {
    background-color: #f1684e;
    width:20%;
    float:left;
    height:600px
}

.bas3 {
    background-color: olivedrab;
    height:75px;
}

.gauche3{
    background-color: #f1684e;
    width:50%;
    float:left;
    height:600px;
}

.droite3 {
    background-color: #2c3e50;
    width: 50%;
    float:left;
    height:600px;
}

.haut4 {
    background-color: green;
    height:75px;
    text-align: center;
    color:#fff;
}

.menu4 {
    background-color: rgb(0, 204, 0);
    height:50px;
    text-align: center;
    color:#fff;
    border-bottom: 2px solid #f1684e;
}

.contenu4 {
    height: 600px;
    margin:20px;
    background-color: salmon;
    text-align: center;
    color:#fff;
}

.footer4 {
    background-color: brown;
    height:75px;
    text-align: center;
    color:#fff;
}

.haut5 {
    background-color:rgb(16, 122, 112);
    height:75px;
    text-align: center;
    color:#fff;
}

.menu5 {
    background-color: rgb(64, 128, 64);
    height:50px;
    text-align: center;
    color:#fff;
    
}

.contenu5 {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
    height:600px;
    margin:20px;
}

.contenu5 div{
    height:50%;
    width:50%;
    float: left;
}

.footer5 {
    background-color: salmon;
    height:75px;
    text-align: center;
    color:#fff;
}
/* hover pour la zonne 5 avect effet rotation et transparence */
.b{
    background-color: orange;
    
}
.b:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: orangered;
    border-radius: 50%;
    opacity: 0;

}
.c{
    background-color: blue;
}
.c:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: rgb(0, 255, 255);
    border-radius: 50%;
    opacity: 0;

}
.d{
    background-color: green;
}
.d:hover{
    transition: 2s;
    transform: rotate(360deg);
    color: rgb(9, 255, 0);
    border-radius: 50%;
    opacity: 0;

}
.pink6 {
    background-color: lightpink;
    width:25%;
    height:200px;
    float:left;
}

.salmon6 {
    background: salmon;
    width:50%;
    height:200px;
    float:left;
}

.olive6 {
    height:50px;
    background-color: #963;
}

.droite6 {
    height:800px;
    background-color: brown;
    width:20%;
    float: left;
}

.gauche6{
    float: left;
    width:80%;
}

.vert6 {
    width:50%;
    float:left;
    height:300px;
    background-color: #98f32f;
}

.violet6 {
    width:50%;
    float:left;
    height:300px;
    background-color: purple;
}

.blue6 {
    height:300px;
    background-color: #3cc;
}

.rose6 {
    width:25%;
    height:200px;
    float:left;
    background-color: lightpink;
}

.marron6 {
    width:25%;
    height:200px;
    float:left;
    background-color: rgb(77, 46, 0);
}

.footer6 {
    background-color: mediumslateblue;
    height:75px;
    }



.puce ,.puce ul li{
    /* list-style: none; */
    color: rgb(11, 103, 207);
    font-size: 22px;
}
.display li{
    display: inline;
}
.none{
    list-style: none;
    margin-left:30px;
   
}








/********************FIN DE PAGE POSITIONS *****************/